@import url('https://fonts.googleapis.com/css2?family=Jura:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
/* Common styles*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    outline: none;
    font-family: "Jura",sans-serif;
    scroll-behavior: smooth;
}
html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
}
/*main button*/
.main-btn{
    position: absolute;
    bottom: -2rem;
    width: 13rem;
    height: 13rem;
    background-color: #9b0e0e;
    border-radius: 50%;
    border: .2rem dotted #fff;
    padding: 0.1rem;
    overflow: hidden;
}
.main-btn-content{
    width: 100%;
    height: 100%;
    border: .2rem dotted #e7be08;
    border-radius: 50%;
    transform: rotate(40deg);
    transition: transform 0.2s, border 0.2s;
}
.main-btn:hover .main-btn-content{
     transform: rotate(60deg);
     border: 0.2rem dotted #9b0e0e;
     transition: transform 0.2s 0.5s, border 0.2s;
}
.main-btn-line{
    position: absolute;
    top: 4rem;
    width: 3rem;
    height: 0.5rem;
    border: 0.1rem solid #fff;
}
.main-btn-line:nth-child(1){
    transform: rotateZ(-45deg) translateX(-0.65rem);
    transform-origin: left center;
    border-right: none;
}
.main-btn-line:nth-child(2){
    transform: rotateZ(45deg) translateX(0.65rem);
    transform-origin: right center;
    border-left: none;
}
.main-btn-line:nth-child(3){
    transform: rotateZ(90deg) translateX(0.5rem);
    border-left: none;
}
.main-btn span{
    position: absolute;
    bottom: 3rem;
    color: #fff;
    font-size: 1.1rem;
    font-weight: 600;
    text-transform: uppercase;
}
.ripple{
    position: absolute;
    width: 0;
    height: 0;
    background-color: #e7be08;
    border-radius: 50%;
    transform: translate(-50%,-50%);
    animation: rippleAnime 0.5s forwards;
}
@keyframes rippleAnime{
    0%{
        width: 0;
        height: 0;
    }
    100%{
        width: 210%;
        height: 210%;
    }
}
/*end of main button*/
/*Section heading*/
.section-heading{
    font-size: 2rem;
    font-weight: 300;
    color: #fff;
    text-transform: uppercase;
    position: absolute;
    top: 50%;
    left: 3rem;
    transform: translateY(-50%);
    width: 0;
    word-break: break-all;
    line-height: 4;
}
/*End of section heading*/
/* end of Common styles*/

/*mouse circle */
.mouse-circle,
.mouse-dot{
    border-radius: 50%;
    position: fixed;
    z-index: 300;
    transform: translate(-50%,-50%);
    opacity: 0;
    pointer-events: none;
}
.mouse-circle{
      width: 6rem;
      height: 6rem;
      border: .1rem solid #c7a622;
      animation: mousecircleAnime 10s infinite linear;
}
@keyframes mousecircleAnime{
     0%{
         width: 6rem;
         height: 6rem;
     }
     25%{
        width: 8rem;
        height: 8rem;
    }
    35%{
        width: 4rem;
        height: 4rem;
    }
    70%{
        width: 8rem;
        height: 8rem;
    }
    100%{
        width: 6rem;
        height: 6rem;
    }
}
.mouse-dot{
      width: .5rem;
      height: .5rem;
      background-color: #9b0e0e;
      animation: mouseDotAnime 10s infinite linear;
}
@keyframes mouseDotAnime{
     0%{
         width: 0.5rem;
         height: 0.5rem;
     }
     55%{
        width: 1.5rem;
        height: 1.5rem;
    }
    100%{
        width: 0.5rem;
        height: 0.5rem;
    }
}
/*end of mouse circle */
/*end of Common styles*/
/*page BG*/
.page-bg{
     position: fixed;
     width: 100%;
     height: 100vh;
     background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
     url("./images/bg.jpg") center no-repeat;
     background-size: cover;
     background-position: center;
    background-repeat: no-repeat;
}
/*end of page BG*/
 /* Progress Bar */
 .progress-bar{
     position: fixed;
     bottom: 8rem;
     right: 8rem;
     width: 8rem;
    height: 8rem;
    background-color: #fff;
    border-radius: 50%;
    z-index: 200;
    overflow: hidden;
 }
 .half-circle,
 .half-circle-top{
     position: absolute;
     top: 0;
     left: 0;
     width: 50%;
     height: 100%;
     transform-origin: right center;
 }
 .half-circle:nth-child(1){
    background-color: #b60000;
 }
 .half-circle:nth-child(2){
    background-color:#b60000;
 }
 .half-circle-top{
     background-color: #fff;
 }
 /*.progress-bar:hover
 .half-circle-top{
     opacity: 0;
     transition: opacity 0s 1s;
 }
 .progress-bar:hover
 .half-circle:nth-child(1){
     transform: rotate(180deg);
     transition: transform 1s linear;
    
 }
.progress-bar:hover  
 .half-circle:nth-child(2){
     transform: rotate(360deg);
     transition: transform 2s linear;  
 } */
 .progress-bar-circle{
     width: 7.8rem;
     height: 7.8rem;
     background-color: #000;
     border-radius: 50%;
     color: #fff;
     font-size: 4rem;
     z-index: 200;
    transition: transform 0.5s;
 }
  /* End of Progress Bar */
/*Navigation*/
/*Menu Icon*/
.menu-icon{
    position: fixed;
    top: 0;
    right: 6rem;
    width: 12rem;
    height: 7rem;
    flex-direction: column;
    z-index: 100;
    cursor: pointer;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.2s;
}
.menu-icon-line{
    width: 4rem;
    height: 0.1rem;
    background-color: #fff;
    margin: 0.5rem 0;
    box-sizing: 0  0.3rem 0.5rem #000;
}
/*End of Menu icon*/
.show-menu-icon{
    opacity: 1;
    visibility: visible;
}
/*Navbar*/
.navbar{
    position: fixed;
    top: 2.5rem;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding-right: 3rem;
    z-index: 100;
    transition: opacity 0.5s, visibility 0.5s, transform 0.5s;
}
.navbar-link{
    font-size: 1.5rem;
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
    margin: 0  2.5rem;
    text-shadow: 0 0.3rem 0.5rem #000;
      
}
.hide-navbar{
  opacity: 0;
  visibility: hidden;
  transform: translateX(10rem);
}

/*end of Navbar*/
/* end of Navigation*/
/*section 1*/ 
.section-1{
     position: relative;
     width: 100%;
     height: 100vh;  
}
/*logo*/
.logo{
    position: absolute;
    top: -2rem;
    left: 4rem;
}
/* end of logo*/
/*end of section 1*/
/*Animated circles*/
.circles{
    position: absolute;
    top: -10em;
    left: -18em;
    right: -24em;
    width: 125%;
    height: 155%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2,1fr);
     
}
.circle{
    width: 20rem;
    height: 20rem;
    border-radius: 50%;
    align-self: center;
    justify-self: center;
    opacity: 0.7;
    position: relative;
    top: 0;
    left:2em;
    transition: left 1s,top 1s;
    
}
.circle-1{
     background: url("./images/landing/circle-1-img.jpg") center no-repeat;
     background-size: cover;
     background-clip: content-box;
     border: 0.5rem dotted #a14b1a;
     margin-left: -5rem;
}
.circle-2{
    background: url("./images/landing/circle-2-img.jpg") center no-repeat;
    background-size: cover;
    background-clip: content-box;
    border: 0.5rem dashed #ffbd07;
    margin-right: -5rem;
}
.circle-3{
    background: url("./images/landing/circle-3-img.jpg") center no-repeat;
    background-size: cover;
    background-clip: content-box;
    border: 1rem double #9b0e0e;
    margin-left: -5rem;
}
.circle-4{
    background: url("./images/landing/circle-4-img.jpg") center no-repeat;
    background-size: cover;
    background-clip: content-box;
    border: 0.7rem double #fff;
    margin-right: -5rem;
}
.main-circle{
      width: 45rem;
      height: 45rem;
      position: absolute;
      overflow: hidden;
      border-radius: 50%;   
      top: 14em;
      transition: width 0.2s height 0.2s;
}
.main-circle:hover{
    width: 50rem;
    height: 50rem;
}
.main-circle img{
    mix-blend-mode:normal;
    position: relative;
    top: 0;
    left:0;
    transition: left 1s,top 1s;
    
}
/* end of animated circles*/
/* featured texts*/
.featured-text{
    font-size: 2rem;
    color: #fff;
    text-transform: uppercase;
    width: 0;
    word-wrap: break-word;
    line-height: 3.5;
    position: sticky;
    top: 0;
    font-weight: 300;
}
.featured-text-1{
    margin: 0 auto 0 10rem;
    margin-left:1em ;
    margin-top: 2em;
    
}
.featured-text-2{
    margin: 0 10rem 0 auto;
    margin-right: 2em;
    margin-top: -2em;

}
/*end of featured texts*/
 
/*end of section 1*/
/* section 2*/
.section-2{
    position: relative;
    padding: 10rem 10rem 15rem 10rem;
}
 
/*About me texts*/
.about-me-text{
    width: 80%;
    margin: auto;
    margin-top: 8em;
    
    
}
.about-me-text span{
    font-family: "Poppins",sans-serif;
    font-size: 15rem;
    font-weight: bold;
    color: #aaa;
    letter-spacing: 0.5rem;
    line-height: 0.9;
    text-shadow: 0 0 1rem #9b0e0e;
    position: relative;
    mix-blend-mode: color-dodge;
 
    
}
@keyframes aboutMeTextAnime{
    0%{
        color: #aaa;
        top: 0;
    }
    10%,
    90%{
        color: #fff;
        top: 2rem;
    }
    100%{
        color: #aaa;
        top: 0;
    }
}
/*End of About me texts*/
/*Section 2 main button*/
.section-2 .main-btn{
       left: 50%;
       bottom: -5rem;
       transform: translateX(-50%);
}
/*End of section 2 main button*/
/*end of section 2*/
/* section 3*/
.section-3{
    width: 100%;
    height: 100%;
    padding:10rem 0;
    margin-top: 10rem;
    position: relative;
}
 
/*projects*/
 .projects{
     flex-wrap: wrap;
     padding-bottom: 15rem;
 }
 .project{
    width: 32rem;
    height: 38rem;
    overflow: hidden;
    margin: 5rem;
   margin-left: 5.5em;
   margin-right: 0.1em;
  margin-top: 5em;
  overflow: hidden;
  background-color: #000;
  display: flex;
  justify-content: center;
  position: relative;
  border: 0.2rem dotted #9b0e0e;
  border-radius: 0.5rem;
  cursor: pointer;
  perspective: 20rem;
  transition: opacity 0.5s;
 }
 .project img{
     width: 82%;
     object-fit: cover;
     position: absolute;
     top: 2rem;
     opacity: 0.5;
     transition: top 4s 0.2s, opacity 0.2s;
 }
 .project:nth-child(odd):hover img{
     animation: oddImgAnime 4s 0.2s;
     opacity: 1;
 }
 @keyframes oddImgAnime{
     0%{
         transform: rotateY(0);
     }
     25%{
         transform: rotateY(-2deg) rotateX(2deg);
     }
     50%{
        transform: rotateY(2deg) rotateX(-2deg);
     }
     100%{
        transform: rotateY(0);
     }
 }
 .project:nth-child(even):hover img{
    animation: evenImgAnime 4s 0.2s;
    opacity: 1;
}
@keyframes evenImgAnime{
    0%{
        transform: rotateY(0);
    }
    25%{
        transform: rotateY(2deg) rotateX(-2deg);
    }
    50%{
       transform: rotateY(-2deg) rotateX(2deg);
    }
    100%{
       transform: rotateY(0);
    }
}
/*big project image*/
.project-img-wrapper{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 0;
    background-color:rgba(0, 0, 0, 0.9);
    overflow: hidden scroll;
    animation: imgWrapperAnime 1s forwards;
}
@keyframes imgWrapperAnime{
    0%{
        height: 0;
    }
    100%{
    height: 100%;
    }
}
.project-img{
    width: 100%;
    border-radius: 0.5rem;
    padding: 7rem 20rem;
    opacity: 0.9;
    transform-origin: top center;
    animation: imgAnime 1s 1s both;
}
@keyframes imgAnime{
    0%{
        transform: scale(0);
    }
    100%{
        transform: scale(1);
    }
}
/* end of big project image*/
/*project hide button*/
.project-hide-btn{
    position: fixed;
    top: 5rem;
    right: 5rem;
    background-color: transparent;
    border: none;
    color: #fff;
    font-size: 2rem;
    letter-spacing: 0.1rem;
    cursor: pointer;
    z-index: 10;
    transform: scale(0);
    visibility: hidden; 
}
.change.project-hide-btn{
    transform: scale(1);
    visibility: visible;
     transition: transform 0.5s;
}
 
/*end of project hide button*/
/*end of projects*/
/*projects button*/
.projects-btn{
    left: 50%;
    transform: translateX(-50%);
}
.projects-btn .main-btn-line{
    transition: all 0.5s;
}
.change > .main-btn-line:nth-child(1){
    transform: rotate(45deg) translateX(-.65rem);
}
.change > .main-btn-line:nth-child(2){
    transform: rotate(-45deg) translateX(.65rem);
}
.change > .main-btn-line:nth-child(3){
    transform: rotate(90deg) translateX(-.5rem);
    border-left: 0.1rem solid #fff;
    border-right: none;
}
/*end of projects button*/
/*end of section 3*/
/* section 4*/
.section-4{
    position: relative;
    width: 100%;
}
/* services*/
.services-wrapper{
    width: 100%;
    flex-direction: column;
}
.service{
    width: 70%;
    margin: 2rem 0;
    border-bottom: 0.5rem solid #9b0e0e;
    cursor: pointer;
    z-index: 200;
}
.service-btn{
    width: 100%;
    position: relative;
    display: block;
    height: 15rem;
}
.service-btn span{
    font-family: 'Poppins',sans-serif;
    font-size: 10rem;
    font-style: italic;
    font-weight: bold;
    color: #9b0e0e;
    position: absolute;
    right: 0;
    transition: right 0.5s;
    
}
.service-text{
    font-size: 4rem;
    color: #777;
    font-family: fantasy;
    letter-spacing: 0.1rem;
    margin-bottom: 1rem;
    height: 0;
    visibility: hidden;
    opacity: 0;
    transition: all 0.2s;
}
.change.service-text{
    height: 12rem;
    visibility: visible;
    opacity: 1;
    transition: height 0.5s,opacity 0.5s 0.5s;
}
/*end of services*/
/*end of section 4*/
/*section 5*/
.section-5{
    position:relative;
    height: 100vh;
    flex-direction: column;
}
/*form*/
.form-heading{
    font-family: "Poppins" sans-serif;
    font-size: 6rem;
    font-weight: 400;
    color: #9b0e0e;
    letter-spacing: 0.3rem;
    margin-bottom: 3rem;
    transition: opacity 0.3s;
    margin-top: 4em;
    text-align: center;
}
.contact-form{
    flex-direction: column;
}
.contact-form-input{
    width: 60rem;
    padding: 0.5rem;
    margin: 1rem 0;
    background-color: rgba(255, 255, 255, 0.1);
    border: 0.1rem solid #9b0e0e;
    font-size: 1.7rem;
    font-weight: bold;
    color: #aaa;
    letter-spacing: 0.1rem;
    height: 5rem;
}
.contact-form-textarea{
     height: 20rem;
     resize: none;
}
.form-submit-btn{
    width: 20rem;
    height: 5rem;
    background-color: #9b0e0e;
    border: none;
    align-self: start;
    font-size: 1.8rem;
    color: #fff;
}
/*end of form*/
/*slideshow*/
.slideshow{
    display: flex;
    width: 50rem;
    margin-top: 10rem;
    padding: 0 2rem;
}
.slideshow-link{
    width: 20%;
    filter: brightness(0.5);
    transform: filter 1.5s;
}
.slideshow-link:nth-child(1),
.slideshow-link:nth-child(5){
    transition: width  .5s,
    opacity 0.5s;
}
.slideshow-link:nth-child(3){
   transition: filter 0.5s;
}
.slideshow-link img{
    width: 100%;
    padding: 0 1rem;
}
.faded-out{
    opacity: 0;
    width: 0;
}
.light{
    filter: brightness(1.5);
}
/*end of slideshow*/
/*end of section 5*/